@use "../base";

.hero {
  width: 100%;
  overflow: hidden;

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  @include base.lg {
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
  }
}
