@use "../base";

.hero {
  padding-top: 30%;
  padding-bottom: 30%;
  background-image: url("assets/mobile-m.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 720px) {
    background-image: url("assets/mobile-l.png");
  }

  @media (min-width: 1024px) {
    background-image: url("assets/Banner-s.png");
    padding-top: 17%;
    padding-bottom: 17%;
  }

  @media (min-width: 1200px) {
    background-image: url("assets/Banner-m.png");
  }

  @media (min-width: 1600px) {
    background-image: url("assets/Banner-l.png");
  }

  /*  .mobile {
    display: block;
    min-width: 100vw;
  }

  .desktop {
    display: none;
  }

  @include base.lg {
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
      min-width: 100vw;
    }
  }

  */
}
