@use "../base";

.hero {
  .mobile {
    display: block;
    min-width: 100vw;
  }

  .desktop {
    display: none;
  }

  @include base.lg {
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
  }
}
