.nav {
    &__logo {
        display: block;
        margin: 2rem auto 2rem auto;
        width: clamp(150px, 50%, 400px)
    }

    @media (min-width: 1024px) {
        &__logo {
            margin: 2rem 0 2rem 2rem;
        }
    }
}